<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.my.common.presentation.AppTheme"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_no_music"
        android:roundIcon="@drawable/ic_no_connection"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlaylistMaker">

        <activity
            android:name="com.example.my.search.presentation.ui.SearchActivity"
            android:exported="false" />

        <activity
            android:name="com.example.my.player.presentation.ui.PlayerActivity"
            android:exported="false" />

        <activity
            android:name="com.example.my.mediaLibrary.ui.MediaLibraryActivity"
            android:exported="false" />

        <activity
            android:name="com.example.my.setting.presentation.ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.my.main.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>